<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/custodian-style.css">
    <link rel="stylesheet" href="css/student-style.css"> <!-- Include student styles -->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Custodian Home</title>
</head>
<body>
    <% if(status == 'loggedInCustodian') { %>

    <!-- Header -->
    <header>
        RENTIFY
    </header>

    <!-- Navigation -->
    <nav>
        <a href="/custodian" style="color: antiquewhite;">Home</a>
        <a href="#inventory" style="color: antiquewhite;">Inventory</a>
        <a href="#rent-request" style="color: antiquewhite;">Requests</a>
        <a href="#reservations" style="color: antiquewhite;">Reservations</a>
        <a href="/logoutCustodian" style="color: antiquewhite;">Logout</a>
    </nav>

    <!-- Main Content -->
    <main>
        <div>
            <h1>Custodian Dashboard</h1>
        </div>
    
        <!-- Inventory Section -->
        <section id="inventory">
            <h2>Inventory</h2>

            <div>
                <input placeholder="Search by Name" id="search-input">
                <button id="search-btn">Search</button>
            </div>

            <div id="add-item-inventory">
                <h3>Add Item in Inventory</h3>
            
                <div class="add-item-div">
                    <input type="text" id="name-input" placeholder="Item Name">
                </div>
                <div class="add-item-div">
                    <h4>Item Description</h4>
                    <input type="text" id="item-description" placeholder="Item Description">
                </div>
                <div class="image-upload">
                    <h4>Upload Inventory Image</h4>
                    <input type="file" id="image-upload-input" accept="image/jpeg, image/png">
                </div>
                <button id="add-name-btn">Add Item</button>
            </div>            
    
            <table id="inventory-table">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Availability</th>
                    <th>Delete</th>
                    <th>Quantity</th>
                    <th>Change Qty.</th>
                </thead>
                <tbody></tbody>
            </table>
        </section>

        <!-- Rent Request Section -->
        <section id="rent-request">
            <h2>Pending Requests From Students</h2>
            <table id="requests-table">
                <thead>
                    <th>Request ID</th>
                    <th>Email</th>
                    <th>Item/Room Name</th>
                    <th>Rent Date</th>
                    <th>Return Date</th>
                    <th>Note</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </thead>
                <tbody id="requests-tbody"></tbody>
            </table>
        </section>

        <!-- Reservations Section -->
        <section id="reservations">
            <h2>Current Reservations</h2>
            <table id="reservations-table">
                <thead>
                    <th>Reservation ID</th>
                    <th>Email</th>
                    <th>Item/Room Name</th>
                    <th>Date Approved</th>                    
                    <th>Rent Date</th>                    
                    <th>Return Date</th>                    
                    <th>Status</th>                    
                    <th>Return</th>                    
                </thead>
                <tbody id="reservations-tbody"></tbody>
            </table>
        </section>
    </main>

    <% } else if(status == 'no') { %>
        <h2>You need to <a href="/login">Login</a> first</h2>
    <% } %>

    <script src="/js/custodian/inventory.js"></script>
</body>
</html>
